@import "./styles/variables";
@import "./styles/helpers";
@import "./styles/header";
@import "./styles/introduction";
@import "./styles/step1-select-hero";
@import "./styles/step2-select-package";
@import "./styles/step3-review";
@import "./styles/footer";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $openSans;
  margin: 0;
  min-height: 100vh;
  h1,
  h2,
  h3,
  header p {
    font-family: $ranchers;
    letter-spacing: 2px;
  }

  h3,
  h3 + p {
    margin-left: 25px;
    @media (min-width: 1200px) {
      margin: 0;
    }
  }

  section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
  }
}
